<?xml version="1.0" encoding="utf-8"?>
<unity>
  <typeAliases>
    <typeAlias alias="IDatabase" type="sys.Bll.IDatabase,sys.Bll" />
    <typeAlias alias="EFDatabase" type="sys.Bll.EF.Database,sys.Bll.EF" />
    <typeAlias alias="IDbContext" type="sys.Bll.EF.IDbContext,sys.Bll.EF" />
    <typeAlias alias="MySql" type="sys.Bll.EF.MySqlDbContext,sys.Bll.EF" />
    <!--<typeAlias alias="Sql" type="sys.Bll.EF.SqlServerDbContext,sys.Bll.EF" />-->
  </typeAliases>
  <containers>
    <container name="DBcontainer">
      <type type="IDatabase" mapTo="EFDatabase" ></type >
      <!-- 默认数据库软件类型：SqlServer,MySql,Oracle,Access,SQLite-->
      <!--<type type="IDbContext" mapTo="SqlServer" ></type >
      <type type="IDbContext" mapTo="SqlServer" name="SqlServer"></type >-->
      <type type="IDbContext" mapTo="MySql" ></type >
      <type type="IDbContext" mapTo="MySql" name="MySql"></type >
    </container>
  </containers>
</unity>