<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <!-- ==================  Api相关配置 ================== -->
  <!-- 登陆提供者模式：Session、Cookie-->
  <add key="LoginProvider" value="Session" />
  <!-- 允许重复登录 -->
  <add key="CheckOnLine" value="true" />
  <!-- 允许用户注册 -->
  <add key="AllowUserRegister" value="false" />
  <!-- 启用即时通讯 -->
  <add key="UseMessage" value="false" />
  <!-- 启用系统日志-->
  <add key="IsLog" value="true" />
  <!-- 数据库超时间-->
  <add key="CommandTimeout" value="180" />
  <!-- 服务器缓存类型:WebCache、Redis-->
  <add key="CacheType" value="WebCache" /> 
  
  <!-- ================== 1：部邮件参数 ================== -->
  <!-- 系统错误自动发送邮件 -->
  <add key="ErrorToMail" value="false" />
  <!-- 发出邮箱的名称 -->
  <add key="MailName" value="邮件中心" />
  <!-- 发出邮箱的地址 -->
  <add key="MailUserName" value="894313147@qq.com" />
  <!-- 发出邮箱的密码 -->
  <add key="MailPassword" value="" />
  <!-- 发出邮箱设置邮箱主机 -->
  <add key="MailHost" value="smtp.exmail.qq.com" />
  <!-- ================== 2：容联短信参数 ================== -->
  <!-- 短信账户 -->
  <add key="CCPaccountSid" value="8aaf0708697b6beb0169c32e724d3225" />
  <!-- 短信TOKEN -->
  <add key="CCPtoken" value="46f51811a8964de28aeb5044bbb26b70" />
  <!-- 应用id -->
  <add key="CCPappId" value="8aaf0708697b6beb0169c32e729a322b" />
  <!-- 应用token -->
  <add key="CCPapptoken" value="7ca703d53dc832fd6b3c50ea95576690" />
  <!-- url -->
  <add key="CCPurl" value="app.cloopen.com" />
  <!-- 端口 -->
  <add key="CCPport" value="8883" />
  
  
  
  <!-- ================== 7：即时通信参数 ================== -->
  <!-- SignalR服务接口-->
  <add key="SignalRUrl" value="http://localhost:8081/signalr" />



  <!-- 默认数据库软件类型：SqlServer,MySql,Oracle,Access,SQLite-->
  <!--<add key="connDataType" value="MySql" />-->
</appSettings>