<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="BaseDb" connectionString="Data Source=localhost;port=3306;Initial Catalog=stn100test;user id=root;password=111111;charset=utf8" providerName="MySql.Data.MySqlClient"/>
  <!--<add name="BaseDb" connectionString="Server=.;Initial Catalog=stn100rc;User ID=sa;Password=111111" providerName="System.Data.SqlClient" />--> 
  <!--<add name="BaseDb" connectionString="User Id=cuxoa;Password=111111;PERSIST SECURITY INFO=True;Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.126.91)(PORT=1531))(CONNECT_DATA=(SID=CLA)))"  providerName="Oracle.ManagedDataAccess.Client"/>-->
</connectionStrings>