
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <link href="~/Content/css/mui.min.css" rel="stylesheet" />
    <link href="~/Content/css/DbXx.css" rel="stylesheet" />
</head>
<body>
    <header class="mui-bar mui-bar-nav">
        <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" href="Lzda.html">返回</a>
        <h1 class="mui-title">履职档案</h1>
        <div class="mui-icon mui-icon-more mui-pull-right"></div>
    </header>
    <div class="Lzda_Da">
        <div class="Lzda_Da_top">
            <div class="Lzda_Img">
                <img src="images/Txs.png">

            </div>
            <div class="Lzda_txt"><b>张华海</b><br /><span>五常市人大代表</span></div>
        </div>
        <div class="Xl_list">人大代表出席人民代表大会情况<img src="images/daosanjiao.png"></div>
        <div class="Lzda_Da_ls">
            <a href="LzDa_Xq.html">
                <div class="Da_ls_lt"><img src="images/3.jpg"> </div>
                <div class="Da_ls_rt">
                    <div class="rt_biaoti"><span>议案建议标题名称00001</span></div>
                    <div class="rt_Jyr"><span>提建议人</span>&nbsp;&nbsp;<label>张三</label></div>
                </div>
            </a>
        </div>
        <div class="Lzda_Da_ls">
            <div class="Da_ls_lt"><img src="images/3.jpg"> </div>
            <div class="Da_ls_rt">
                <div class="rt_biaoti"><span>议案建议标题名称00001</span></div>
                <div class="rt_Jyr"><span>提建议人</span>&nbsp;&nbsp;<label>张三</label></div>
            </div>
        </div>
        <div class="Lzda_Da_ls">
            <div class="Da_ls_lt"><img src="images/3.jpg"> </div>
            <div class="Da_ls_rt">
                <div class="rt_biaoti"><span>议案建议标题名称00001</span></div>
                <div class="rt_Jyr"><span>提建议人</span>&nbsp;&nbsp;<label>张三</label></div>
            </div>
        </div>
    </div>
</body>
</html>
