<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <!--<add key="webpages:Version" value="3.0.0.0"/>
  <add key="webpages:Enabled" value="false"/>
  <add key="ClientValidationEnabled" value="true"/>
  <add key="UnobtrusiveJavaScriptEnabled" value="true"/>-->
  <!-- ================== 1：开发系统相关配置 ================== -->
  <!-- 登陆提供者模式：Session、Cookie-->
  <add key="LoginProvider" value="Session" />
  <!-- 允许重复登录 -->
  <add key="CheckOnLine" value="true" />
  <!-- 允许用户注册 -->
  <add key="AllowUserRegister" value="false" />
  <!-- 启用即时通讯 -->
  <add key="UseMessage" value="false" />
  <!-- 启用系统日志-->
  <add key="IsLog" value="true" />
  <!-- 数据库超时间-->
  <add key="CommandTimeout" value="180" />
  <!-- 服务器缓存类型:WebCache、Redis-->
  <add key="CacheType" value="WebCache" />
  <!-- ================== 2：这里主要是微信配置项内容部分 ================== -->
  <!--企业号CorpId -->
  <add key="CorpId" value="wx3e4c8f84a165a142" />
  <!--企业号凭证密钥 -->
  <add key="CorpSecret" value="XDwJUlMeqQAVI3Iu0ZpJ-5MYzBJmhuBAF9GTBqY7mnJg_j23JTidYcslyTg9SL0B" />
  <!-- ================== 3：访问过滤配置 ================== -->
  <!--设置IP过滤 -->
  <add key="FilterIP" value="false" />
  <!--设置时段过滤 -->
  <add key="FilterTime" value="false" />
  <!-- ================== 4：系统软件参数配置 ================== -->
  <!-- 联系我们 -->
  <add key="Contact" value="" />
  <!-- 公司名称 -->
  <add key="CustomerCompanyName" value="五常市人大" />
  <!-- 系统名称 -->
  <add key="SystemName" value="五常市人大代表之家" />
  <!-- 软件名称 -->
  <add key="SoftName" value="五常市人大代表之家" />
  <!-- 软件版本 -->
  <add key="Version" value="6.1.2" />
  <!-- 软件注册码，备用 -->
  <add key="RegisterKey" value="NO:2013101712345678" />



  <!-- ================== 1：部邮件参数 ================== -->
  <!-- 系统错误自动发送邮件 -->
  <add key="ErrorToMail" value="false" />
  <!-- 发出邮箱的名称 -->
  <add key="MailName" value="邮件中心" />
  <!-- 发出邮箱的地址 -->
  <add key="MailUserName" value="894313147@qq.com" />
  <!-- 发出邮箱的密码 -->
  <add key="MailPassword" value="" />
  <!-- 发出邮箱设置邮箱主机 -->
  <add key="MailHost" value="smtp.exmail.qq.com" />
  <!-- ================== 2：容联短信参数 ================== -->
  <!-- 短信账户 --> 
  <add key="CCPaccountSid" value="8aaf0708697b6beb0169c32e724d3225" />
  <!-- 短信TOKEN -->
  <add key="CCPtoken" value="46f51811a8964de28aeb5044bbb26b70" />
  <!-- 应用id -->
  <add key="CCPappId" value="8aaf0708697b6beb0169c32e729a322b" />
  <!-- 应用token -->
  <add key="CCPapptoken" value="7ca703d53dc832fd6b3c50ea95576690" />
  <!-- url -->
  <add key="CCPurl" value="app.cloopen.com" />
  <!-- 端口 -->
  <add key="CCPport" value="8883" />

  <!-- ================== 3：微信参数配置 ================== --> 
  <add key="WeixinToken" value="" /> 
  <!--微信公众号应用ID-->
  <add key="WeixinAppId" value="wx8184fd5e52a4cf1a"/>
  <!--微信公众号应用秘钥-->
  <add key="WeixinAppSecret" value="2bf63640fda5e40357c07ce5d749b822"/>
  
  <add key="WeixinEncodingAESKey" value="" />
  <add key="WeixinKey" value="" />
  <add key="WeixinMchId" value="" />
  <add key="WeixinServer" value="http://gzzy.cidtech.cn/activity" />
  <add key="WeixinNotify" value="http://gzzy.cidtech.cn/activity" />
  <add key="RedirectUrl" value="/Account/Login" />
  <add key="WeiXinOauthState" value="Lckj" />
  
 
  <!-- 默认数据库软件类型：SqlServer,MySql,Oracle,Access,SQLite-->
  <add key="connDataType" value="MySql" />
  
  <!--验证码过期时间(分钟) -->
  <add key="VerifyExpiration" value="5" />
  <!--上传图片主机地址-->
  <add key="ImgHost" value="http://localhost:60913/" />
  <add key="ImgDefault" value="http://localhost:60913/Content/images/DefaultImg.png" />


  <add key="QRCodDefaultPath" value="E:\Work\www.baiqun\core\ConnonSystem\ConnonSystem\Aplication\sys.Aplication.Web\Resource\QRCodFile\" />
  <add key="QRCodDefaultIconPath" value="E:\Work\www.baiqun\core\ConnonSystem\ConnonSystem\Aplication\sys.Aplication.Web\Content\images\DefaultImg.png" />
  <add key="MeetingQRCodUrl" value="http://baidu.com/" />
  <add key="DefaultQrCodeWidth" value="200" />
  <add key="DefaultQrCodeHeight" value="200" />
</appSettings>