 
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title></title>
    <script src="~/Content/js/mui.min.js"></script>
    <link rel="stylesheet" href="~/Content/css/mui.min.css" />
    <link rel="stylesheet" href="~/Content/css/DbXx.css" />


    <link href="~/Content/css/layer.css" rel="stylesheet" />
    <script src="~/Content/js/jquery-2.1.0.js"></script>
    <script src="~/Content/js/plugins/layer/layer.js"></script>
    <script src="~/Content/js/common/sys.common.js"></script>

    <style>
        .active {
            color:red; 
        }
        .active a{
            color: red;
        }
    </style>
</head>
<body>
    <header class="mui-bar mui-bar-nav">
        <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" href="/home/">返回</a>
        <h1 class="mui-title">代表信息</h1>
        <div class="mui-icon mui-icon-more mui-pull-right"></div>

    </header>
    <div class="Dbhy">
        <div class="sousuo">
            <div class="Ss">输入代表名字<label><img src="~/Content/images/quxiao.png"> </label></div>
            <a href="#">Cancel</a>
        </div>
        <div class="Dbhy_content">
            <div class="Db_zhuanhuan">
                <div class="qiehuan">
                    <a href="#" class="qiehuan_left">代表姓名</a>
                    <a href="#" class="qiehuan_right">区域位置</a>
                </div>
            </div>
            <div class="Db_xq">
                <div class="Db_list">

                    <div class="shutiao">
                        <div class="shutiao_Jt"><img src="~/Content/images/Jts.png"></div>
                        <div class="Yw">
                            <ul>

                                <li><a href="#A">A</a></li>
                                <li><a href="#B">B</a></li>
                                <li><a href="#C">C</a></li>
                                <li><a href="#D">D</a></li>
                                <li><a href="#E">E</a></li>
                                <li><a href="#F">F</a></li>
                                <li><a href="#G">G</a></li>
                                <li><a href="#H">H</a></li>
                                <li><a href="#I">I</a></li>
                                <li><a href="#J">J</a></li>
                                <li>K</li>
                                <li>L</li>
                                <li>M</li>
                                <li>N</li>
                                <li>O</li>
                                <li>P</li>
                                <li>Q</li>
                                <li>R</li>
                                <li>S</li>
                                <li>T</li>
                                <li>U</li>
                                <li>V</li>
                                <li>W</li>
                                <li>X</li>
                                <li>Y</li>
                                <li>Z</li>
                            </ul>
                        </div>
                    </div>
                    <div class="userlist">
                        <label class="lab" id="A">A</label>
                        <div class="Lxr">
                            <div class="Touxiang">
                                <img src="~/Content/images/Txs.png">
                            </div>
                            <div class="Touxinag_Info">
                                <b><a href="Db_Info.html">张华海</a></b><span>人大常委</span>
                            </div>
                        </div>
                        <div class="Lxr">
                            <div class="Touxiang">
                                <img src="~/Content/images/Txs.png">
                            </div>
                            <div class="Touxinag_Info">
                                <b>张华海</b><span>人大常委</span>
                            </div>
                        </div>
                        <div class="bj_zc"></div>
                        <label class="lab" id="B">B</label>
                        <div class="Lxr">
                            <div class="Touxiang">
                                <img src="~/Content/images/Txs.png">
                            </div>
                            <div class="Touxinag_Info">
                                <b>张华海</b><span>人大常委</span>
                            </div>
                        </div>
                        <div class="Lxr">
                            <div class="Touxiang">
                                <img src="~/Content/images/Txs.png">
                            </div>
                            <div class="Touxinag_Info">
                                <b>张华海</b><span>人大常委</span>
                            </div>
                        </div>
                        <div class="Lxr">
                            <div class="Touxiang">
                                <img src="~/Content/images/Txs.png">
                            </div>
                            <div class="Touxinag_Info">
                                <b>张华海</b><span>人大常委</span>
                            </div>
                        </div>

                        <div class="bj_zc"></div>
                        <label class="lab" id="C">C</label>
                        <div class="Lxr">
                            <div class="Touxiang">
                                <img src="~/Content/images/Txs.png">
                            </div>
                            <div class="Touxinag_Info">
                                <b>张华海</b><span>人大常委</span>
                            </div>
                        </div>
                        <div class="Lxr">
                            <div class="Touxiang">
                                <img src="~/Content/images/Txs.png">
                            </div>
                            <div class="Touxinag_Info">
                                <b>张华海</b><span>人大常委</span>
                            </div>
                        </div>
                        <div class="Lxr">
                            <div class="Touxiang">
                                <img src="~/Content/images/Txs.png">
                            </div>
                            <div class="Touxinag_Info">
                                <b>张华海</b><span>人大常委</span>
                            </div>
                        </div>
                        <div class="bj_zc"></div>
                        <label class="lab" id="D">D</label>
                        <div class="Lxr">
                            <div class="Touxiang">
                                <img src="~/Content/images/Txs.png">
                            </div>
                            <div class="Touxinag_Info">
                                <b>张华海</b><span>人大常委</span>
                            </div>
                        </div>
                        <div class="Lxr">
                            <div class="Touxiang">
                                <img src="~/Content/images/Txs.png">
                            </div>
                            <div class="Touxinag_Info">
                                <b>张华海</b><span>人大常委</span>
                            </div>
                        </div>
                        <div class="Lxr">
                            <div class="Touxiang">
                                <img src="~/Content/images/Txs.png">
                            </div>
                            <div class="Touxinag_Info">
                                <b>张华海</b><span>人大常委</span>
                            </div>
                        </div>
                        <div class="bj_zc"></div>
                        <label class="lab" id="E">E</label>
                        <div class="Lxr">
                            <div class="Touxiang">
                                <img src="~/Content/images/Txs.png">
                            </div>
                            <div class="Touxinag_Info">
                                <b>张华海</b><span>人大常委</span>
                            </div>
                        </div>
                        <div class="Lxr">
                            <div class="Touxiang">
                                <img src="~/Content/images/Txs.png">
                            </div>
                            <div class="Touxinag_Info">
                                <b>张华海</b><span>人大常委</span>
                            </div>
                        </div>
                        <div class="Lxr">
                            <div class="Touxiang">
                                <img src="~/Content/images/Txs.png">
                            </div>
                            <div class="Touxinag_Info">
                                <b>张华海</b><span>人大常委</span>
                            </div>
                        </div>
                        <div class="bj_zc"></div>
                        <label class="lab" id="F">F</label>
                        <div class="Lxr">
                            <div class="Touxiang">
                                <img src="~/Content/images/Txs.png">
                            </div>
                            <div class="Touxinag_Info">
                                <b>张华海</b><span>人大常委</span>
                            </div>
                        </div>
                        <div class="Lxr">
                            <div class="Touxiang">
                                <img src="~/Content/images/Txs.png">
                            </div>
                            <div class="Touxinag_Info">
                                <b>张华海</b><span>人大常委</span>
                            </div>
                        </div>
                        <div class="Lxr">
                            <div class="Touxiang">
                                <img src="~/Content/images/Txs.png">
                            </div>
                            <div class="Touxinag_Info">
                                <b>张华海</b><span>人大常委</span>
                            </div>
                        </div>
                        <div class="bj_zc"></div>
                        <label class="lab" id="H">H</label>
                        <div class="Lxr">
                            <div class="Touxiang">
                                <img src="~/Content/images/Txs.png">
                            </div>
                            <div class="Touxinag_Info">
                                <b>张华海</b><span>人大常委</span>
                            </div>
                        </div>
                        <div class="Lxr">
                            <div class="Touxiang">
                                <img src="~/Content/images/Txs.png">
                            </div>
                            <div class="Touxinag_Info">
                                <b>张华海</b><span>人大常委</span>
                            </div>
                        </div>
                        <div class="Lxr">
                            <div class="Touxiang">
                                <img src="~/Content/images/Txs.png">
                            </div>
                            <div class="Touxinag_Info">
                                <b>张华海</b><span>人大常委</span>
                            </div>
                        </div>
                        <div class="bj_zc"></div>
                        <label class="lab" id="I">I</label>
                        <div class="Lxr">
                            <div class="Touxiang">
                                <img src="~/Content/images/Txs.png">
                            </div>
                            <div class="Touxinag_Info">
                                <b>张华海</b><span>人大常委</span>
                            </div>
                        </div>
                        <div class="Lxr">
                            <div class="Touxiang">
                                <img src="~/Content/images/Txs.png">
                            </div>
                            <div class="Touxinag_Info">
                                <b>张华海</b><span>人大常委</span>
                            </div>
                        </div>
                        <div class="Lxr">
                            <div class="Touxiang">
                                <img src="~/Content/images/Txs.png">
                            </div>
                            <div class="Touxinag_Info">
                                <b>张华海</b><span>人大常委</span>
                            </div>
                        </div>
                        <div class="bj_zc"></div>
                        <label class="lab" id="J">J</label>
                        <div class="Lxr">
                            <div class="Touxiang">
                                <img src="~/Content/images/Txs.png">
                            </div>
                            <div class="Touxinag_Info">
                                <b>张华海</b><span>人大常委</span>
                            </div>
                        </div>
                        <div class="Lxr">
                            <div class="Touxiang">
                                <img src="~/Content/images/Txs.png">
                            </div>
                            <div class="Touxinag_Info">
                                <b>张华海</b><span>人大常委</span>
                            </div>
                        </div>
                        <div class="Lxr">
                            <div class="Touxiang">
                                <img src="~/Content/images/Txs.png">
                            </div>
                            <div class="Touxinag_Info">
                                <b>张华海</b><span>人大常委</span>
                            </div>
                        </div>
                        <div class="bj_zc"></div>
                        <label class="lab" id="K">K</label>
                        <div class="Lxr">
                            <div class="Touxiang">
                                <img src="~/Content/images/Txs.png">
                            </div>
                            <div class="Touxinag_Info">
                                <b>张华海</b><span>人大常委</span>
                            </div>
                        </div>
                        <div class="Lxr">
                            <div class="Touxiang">
                                <img src="~/Content/images/Txs.png">
                            </div>
                            <div class="Touxinag_Info">
                                <b>张华海</b><span>人大常委</span>
                            </div>
                        </div>
                        <div class="Lxr">
                            <div class="Touxiang">
                                <img src="~/Content/images/Txs.png">
                            </div>
                            <div class="Touxinag_Info">
                                <b>张华海</b><span>人大常委</span>
                            </div>
                        </div>
                    </div>
                   
                </div>
                <div class="Db_Addrees">
                    <div class="Db_Addrees_left">
                        <ul class="Db_Addrees_leftul">
                            <li>x</li> 
                        </ul>
                    </div>
                    <div class="Db_Address_right">

                        <div class="Address_right_SQ">
                            <ul class="Address_right_SQUL">
                                <li>五常镇</li>
                                <li>崇仁-社区</li>
                                <li>远景村</li>
                            </ul>
                        </div>
                        
                    </div>
                </div>
            </div>
            <!--/*代表图片*/-->

            <div class="Db_Img">
                <div class="Db_Img_k">
                    <img src="~/Content/images/1.jpg">
                    <span><a href="Db_Img.html">张华海</a></span>
                </div>
                <div class="Db_Img_k">
                    <img src="~/Content/images/1.jpg">
                    <span>郭峰</span>
                </div>
                <div class="Db_Img_k">
                    <img src="~/Content/images/1.jpg">
                    <span>陈大</span>
                </div>
                <div class="Db_Img_k">
                    <img src="~/Content/images/1.jpg">
                    <span>陈大</span>
                </div>
                <div class="Db_Img_k">
                    <img src="~/Content/images/1.jpg">
                    <span>陈大</span>
                </div>
                <div class="Db_Img_k">
                    <img src="~/Content/images/1.jpg">
                    <span>陈大</span>
                </div>
                <div class="Db_Img_k">
                    <img src="~/Content/images/1.jpg">
                    <span>陈大</span>
                </div>
            </div>

        </div>
    </div>
</body>
<script type="text/javascript">
    $(function () {
        $(".Db_xq .Db_list").show().siblings().hide();
        $(".Db_zhuanhuan .qiehuan a:even").addClass("Bj");
        $(".Db_zhuanhuan .qiehuan a").click(function () {
            var $lia = $(this).index();
            //alert($lia);
            $(".Db_Img").hide().siblings().show();
            $(this).parent().parent().siblings().children().eq($lia).show().siblings().hide();
            $(this).addClass("Bj").siblings().removeClass("Bj");
        });

        $(".Db_Address_right .Address_right_SQ").eq(0).show().siblings().hide();
        $(".Db_Addrees_left ul li").eq(0).addClass("Address_bj");
        $(".Db_Addrees_left ul li").click(function () {

            var $lis = $(this).index();
            $(".Db_Img").hide().siblings().show();
            $(this).parent().parent().siblings().children().eq($lis).show().siblings().hide();
            $(this).addClass("Address_bj").siblings().removeClass("Address_bj");


        });
        $(".Db_Img").hide().siblings().show();
        $(".Db_Address_right .Address_right_SQ ul li").click(function () {
            var $index = $(this).index();
            //alert($index);
            $(".Db_xq").hide().siblings().show();

        });




    });
</script>
</html>
<script>
    $(function () {
        //GetRspresentBindList("");
        GetOrganizeListJson();
    })
    
    function GetOrganizeListJson() {

        $.ajax({
            //async: false,
            type: "post",
            url: "/Organize/GetListJson",
            data: {
                OrganizeId: "",
                ParentId: "0", 
            },
            success: function (d) {
                var obj = eval("(" + d + ")");
                var data = "";
                var html = '';
                if (obj.type == 1) {
                    data = eval("(" + obj.message + ")");
                    console.log(data);
                    if (data != null && data != "" && data.length > 0) {
                        for (var i = 0; i < data.length; i++) {
                            html += ("<li onclick=\"GetOrganize(\'" + data[i].OrganizeId + "\',this)\">" + data[i].FullName+"</li>");  
                        }
                       
                    }
                } 
                $(".Db_Addrees_leftul").html(html);
                setTimeout(function () {
                    $(".Db_Addrees_leftul li").eq(0).click();
                },100)
            },
            error: function (xhr, type) {  
            }
        });
    }
    
    function GetOrganize(ParentId, thiz) {
        $(thiz).addClass("Address_bj").siblings().removeClass("Address_bj");
        var PId = ParentId;
        $.ajax({
            //async: false,
            type: "post",
            url: "/Organize/GetTreeListJson",
            data: { 
                ParentId: ParentId,
            },
            success: function (d, ParentId) {
                var obj = eval("(" + d + ")");
                var data = "";
                var html = '';
                if (obj.type == 1) {
                    data = eval("(" + obj.message + ")");
                    if (data != null && data != "" && data.length > 0) {
                        for (var i = 0; i < data.length; i++) {
                            var ifo = eval("(" + data[i].entityJson + ")");
                            if (!data[i].hasChildren) {
                                html += ("<li onclick=\"GeRspresentAddressList(\'" + data[i].id + "\')\">" + ifo.FullName + "</li>"); 
                            }
                            else if(data[i].hasChildren && ifo.ParentId==PId) {  
                                html += ("<li onclick=\"GetOrganize(\'" + data[i].id + "\',this)\">" + ifo.FullName + "</li>");  
                            } else {
                                html += ("<li onclick=\"GeRspresentAddressList(\'" + data[i].id + "\')\">" + ifo.FullName + "</li>");  
                            }
                            
                        } 
                      
                    }
                   
                }
                $(".Address_right_SQUL").html(html);
            },
            error: function (xhr, type) {
            }
        });
    }
     
    function GeRspresentAddressList(OrganizeId,thiz) {
        $(".Db_xq").hide().siblings().show();
        OrganizeId = OrganizeId == undefined ? "" : OrganizeId;
        $.ajax({
            //async: false,
            type: "get",
            url: "/Home/GeRspresentAddressList",
            data: {
                ParentId: "",
                TVShowMenuId: "Shuanglianxi_Root_page",
                OrganizeId: OrganizeId,
                Title: "",
                UserId:"",
            },
            success: function (d) {
                var obj = eval("(" + d + ")");
                var data = ""; 
                var html = '';
                if (obj.type == 1) {
                    data = eval("(" + obj.message + ")");
                    if (data != "" && data.length > 0) { 
                        for (var i = 0; i < data.length; i++) {
                            html += ('<div class="Db_Img_k">');
                            html += ('<img src="' + data[i].headicon+'"/>');
                            html += ("<span><a href=\"/Home/RepresentDetail?Id=" + data[i].id + "\">" + data[i].title+"</a></span>");
                            html += (' </div>');   
                        }
                    }
                    else {
                        html += ('暂无数据'); 
                    }
                }
                $(".Db_Img").html(html);
            },
            error: function (xhr, type) {
            }
        });
    }
    //按人名
    function GetRspresentBindList(OrganizeId) {
        OrganizeId = OrganizeId == undefined ? "" : OrganizeId;
        $.ajax({
            async: false,
            type: "get",
            url: "/Home/GeRspresentJsonList",
            data: {
                ParentId: "",
                TVShowMenuId: "Shuanglianxi_Root_page",
                OrganizeId: OrganizeId,
                Title: "",
            },
            success: function (d) { 
                var obj = eval("(" + d + ")");
                var data = "";
                var dtInitials = "";
                var dtrows = "";
                var newhtml5 = '';
                if (obj.type == 1) {
                    data = eval("(" + obj.message + ")"); 
                    if (obj.message != "" && data.dtInitials.length > 0) {
                        console.log(data.dtInitials)
                        console.log(data.dtrows)
                        if (data.dtrows.length > 0) {

                        }
                    }
                } 
            },
            error: function (xhr, type) { 
            }
        });
    }
</script>
<script>
   
    $(window).scroll(function () {
        //为页面添加页面滚动监听事件
        var wst = $(window).scrollTop() //滚动条距离顶端值 
        $(".userlist .lab").each(function () {
            if ($(this).offset().top-50 <= wst) { //判断滚动条位置 减去距离顶部的高度
                $(this).addClass("active").siblings().removeClass("active");
                $(".Yw li:contains('" + $(this).text()+"')").addClass("active").siblings().removeClass("active");
            } 
        })

    })
</script>
